body{
	background-image: url(../img/principal.jpg) ;
	background-repeat: no-repeat;
}

.img-logo{
	height: 100px;
	width: 120px;
	background-image: url(../img/logo.png) ;
	background-position:  no-repeat;
	display: block;
	color: transparent;
	margin-top: -36px;
}

nav.navbar-transparente{
	background: rgba(0,0,0, 0.8);
	padding: 19px 0px;
	border:none;
}

p4{
	color: white;
	font-size: 17px;
	letter-spacing: 700;
}


p3{
	font-size: 17px;
	letter-spacing: 700;
	color: black;
}

h2{
	color: black;
	
}


.conteudo{
	margin-top: 630px;
}

.teste{
	background-color:blue;
}